 {% extends "layout.html" %}
{% set active_Page = "extra"%}

{% block title %} Test {% endblock %}

    <!--page content-->
{% block content %}
<link href="main.css" rel="stylesheet" type="text/css"></link>


<div class="container-fluid bg-1 text-center">
 <h3 class="margin">Test</h3>
 <img src="{{url_for('static', filename='bear.jpg')}}" alt="board">class="img-responsive img-circle margin" style="display:inline" width="350" height="350">
 <h3> </h3>
</div>

<div class="container-fluid bg-2 text-center">
 <h3 class="margin">Test</h3>
<img src="{{url_for('static', filename='dive.png')}}" alt="flipp"> id="fimg" class="img-responsive img-rounded margin" style="display:inline" width="274" height="300">
  <img src="{{url_for('static', filename='flip.png')}}" alt="air"> id="dimg" class="img-responsive img-rounded margin" style="display:inline" width="300" height="300">
 <p></p>
</div>

<div class="container-fluid bg-3 text-center">
 <h3 class="margin">test</h3><br>
 <div class="row">
   <div class="col-sm-4">
     <p> </p>
   </div>
   <div class="col-sm-4">
   <img src="{{url_for('static', filename='yale.jpg')}}" alt="school">class="img-responsive img-circle margin" style="display:inline" width="350" height="350">
   </div>
   <div class="col-sm-4">
     <p></p>
   </div>
 </div>
</div>

{% endblock%}
