<link href="main.css" rel="stylesheet" type="text/css"></link>

<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="file:///Users/admin/Desktop/drugStatistics/home.html">Information about the data</a></li>
  <li><a href="file:///Users/admin/Desktop/drugStatistics/marijuanaUsage.html">State's percentage of marijuana users</a></li>
  <li><a href="file:///Users/admin/Desktop/drugStatistics/dependencyIllicit.html">State's percentage of people dependent on illicit drugs</a></li>
  <li><a href="file:///Users/admin/Desktop/drugStatistics/StatisticsandGraphs.html">Statistics and graphs</a></li>
</ul>

</body>
</html>

<div class="container-fluid bg-1 text-center">
 <h3 class="margin">Statistics and Graphs</h3>
 <h3> </h3>
</div>

<div class="container-fluid bg-2 text-center">
 <h2 class="margin">Here are some pictures that show drug facts and statistics.</h3>
  <img src="statistic.jpg" alt="map">
 <p></p>
</div>

<div class="container-fluid bg-3 text-center">
    <img src="illicitusage.jpg" alt="stats">
 <h2 class="margin"></h3><br>
 <div class="row">
   <div class="col-sm-4">
     <p> </p>
       <img src="pie.jpg" alt="piechart">
   </div>
   <div class="col-sm-4">
   </div>
   <div class="col-sm-4">
     <p></p>
   </div>
 </div>
</div>

